<body>
	<div class="top-nav">
	  <a href="homepage" class="nav-home"><%= image_tag "awkotaco_logo.png" %></a>
	</div>
	<div class="profile">
		<img class="profilePicture" src="http://graph.facebook.com/664457128/picture?type=large"/>
		<div class="profileName">
			Jatin Pandey
		</div>
	</div>

	<div id="videoList" >
		<div class="videoBlock"> 
			<iframe class="video" id="ytplayer" type="text/html" width="100%" height="250" src="https://www.youtube.com/embed/pEFbw0HtTU0"frameborder="0" allowfullscreen></iframe>
			<div class="videoText">
				Despicable Me - Xinli
			</div>
		</div>
		<div class="videoBlock"> 
			<iframe class="video" id="ytplayer" type="text/html" width="100%" height="250" src="https://www.youtube.com/embed/EHYsF2hkSoE"frameborder="0" allowfullscreen></iframe>
			<div class="videoText">
				Nose Pinch - AwkoTaco
			</div>
		</div>
		<div class="videoBlock"> 
			<iframe class="video" id="ytplayer" type="text/html" width="100%" height="250" src="https://www.youtube.com/embed/Unv1LzFEoQA"frameborder="0" allowfullscreen></iframe>
			<div class="videoText">
				Walking into a Board Room Meeting - Jacob 
			</div>
		</div>
    </div>
</body>

