
	<div class="top-bar">
		<a href="homepage"><%= image_tag("awkotaco_logo.png", :class =>"logo") %></a>
		<div class="top-text">Rankings</div>
	    <%= image_tag("icon_nav03_sm.png",:class=>"nav-btn") %>
	</div>

	<br>

		<div id="videoList">
		<div class="videoBlock"> 
			<iframe class="video" id="ytplayer" type="text/html" width="100%" height="250" src="https://www.youtube.com/embed/pEFbw0HtTU0"frameborder="0" allowfullscreen></iframe>
			<div class="bottomText">
					<img class="profilePic" src="http://graph.facebook.com/100006561637139/picture?type=large"/>
					<div class="text">Despicable Me - Xinli</div>
			</div>
		</div>
		<div class="videoBlock"> 
			<iframe class="video" id="ytplayer" type="text/html" width="100%" height="250" src="https://www.youtube.com/embed/Unv1LzFEoQA"frameborder="0" allowfullscreen></iframe>
			<div class="bottomText">
					<img class="profilePic" src="http://graph.facebook.com/641342073/picture?type=large"/>
					<div class="text">Despicable Me - Xinli</div>
			</div>
		</div>

		<div class="videoBlock"> 
			<iframe class="video" id="ytplayer" type="text/html" width="100%" height="250" src="https://www.youtube.com/embed/Unv1LzFEoQA"frameborder="0" allowfullscreen></iframe>
			<div class="bottomText">
					<img class="profilePic" src="http://graph.facebook.com/1406440261/picture?type=large"/>
					<div class="text">Despicable Me - Xinli</div>
			</div>
		</div>

		
		<div class="videoBlock"> 
			<iframe class="video" id="ytplayer" type="text/html" width="100%" height="250" src="https://www.youtube.com/embed/EHYsF2hkSoE"frameborder="0" allowfullscreen></iframe>
			<div class="bottomText">
					<%= image_tag("awkotaco_logo.png", :class =>"profilePic") %>
					<div class="text">Despicable Me - Xinli</div>
			</div>
		</div>
    </div>

