<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<h1 class="text-center">Rankings</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<h1></h1>
			<iframe width="420" height="345"
				src="https://www.youtube.com/embed/A19qW6U-Rcw">
			</iframe>
			<iframe width="420" height="345"
				src="https://www.youtube.com/embed/A19qW6U-Rcw">
			</iframe>
		</div>
	</div>
</div>