	
	<div class="top-bar">
		 <a href="homepage"><%= image_tag("awkotaco_logo.png", :class =>"logo") %></a>

		<div class="top-text frnz">Friends</div>
	    <%= image_tag("icon_nav02_sm.png",:class=>"nav-btn") %>		
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-xs-12">
 				<div id="frnz-mark">
 
 				</div>
				<div id="friend-list">
					<br>
					<ul>
						<li>Mark Brisske</li>
						<li>Nikita Patel</li>
						<li>Siddharth Seth</li>
						<li>Brian Chien</li>
						<li>Derek Hoot</li>
						<li>Kiarash Akhlaghi</li>
						<li>Ian Estabrook</li>
						<li>Ahmed Suhyl</li>
						<li>Max Lu</li>
						<li>Dennis Li</li>
						<li>Jarrod Fields</li>
						<li>Jay Yao</li>
						<li>Jouella Fabe</li>
						<li>Brian Chu</li>
						<li>Eesha Gupta</li>
						<li>Eric Mills</li>
						<li>Nilay Kamdar</li>
						<li>Tri Vo</li>
					</ul>
				</div>
			
			</div>
			
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			
			$("#friend-list").click(function() {
				$("#friend-list").hide();
				$("#mark").css("display", "block");
				
				$("#frnz-mark").append('<h3>Mark Brisske</h3><br><%= image_tag "brisk.jpg" %>');
				str = "<br><div style='text-align: left;'><b>Recent achievements:</b><br>"
				str += "<ul><li>3 is a party</li><li>King of the castle</li><li>Starbucks aficianado</li></ul></div>"
				$("#frnz-mark").append("<br>" + str);
				
			});
		});
	</script>
