	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-xs-12">
				<h1 class="text-center">Friends</h1>

				<div id="friend-list">
					<br>
					<ul>
						<li>Mark Brisske</li>
						<li>Nikita Patel</li>
						<li>Siddharth Seth</li>
						<li>Brian Chien</li>
						<li>Derek Hoot</li>
						<li>Kiarash Akhlaghi</li>
						<li>Ian Estabrook</li>
						<li>Ahmed Suhyl</li>
						<li>Max Lu</li>
						<li>Dennis Li</li>
						<li>Jarrod Fields</li>
						<li>Jay Yao</li>
						<li>Jouella Fabe</li>
						<li>Brian Chu</li>
						<li>Eesha Gupta</li>
						<li>Eric Mills</li>
						<li>Nilay Kamdar</li>
						<li>Tri Vo</li>
					</ul>
				</div>
				
				<div id="mark" style="display: none;">
					<p>Mark Brisske has uploaded so much weird shit that I think he is a ballsy motherfucker</p>
				</div>
			
			</div>
			
		</div>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			
			$("#friend-list").click(function() {
				$("#friend-list").hide();
				$("#mark").css("display", "block");
				
			});
		});
	</script>
