<html>
<head>
	<title>AwkoTaco</title>
	
</head>
<body class="well">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1 style="text-align: center;">Friends</h1>

				<div id="friend-list">
					<ul>
						<li>Mark Brisske</li>
						<li>Nikita Patel</li>
						<li>Siddharth Seth</li>
						<li>Brian Chien</li>
						<li>Derek Hoot</li>
						<li>Kiarash Akhlaghi</li>
						<li>Ian Estabrook</li>
						<li>Ahmed Suhyl</li>
						<li>Max Lu</li>
						<li>Dennis Li</li>
						<li>Jarrod Fields</li>
						<li>Jay Yao</li>
						<li>Jouella Fabe</li>
						<li>Brian Chu</li>
						<li>Eesha Gupta</li>
						<li>Eric Mills</li>
						<li>Nilay Kamdar</li>
						<li>Tri Vo</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
