<div class="container" id="login-container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<div id="fb-login" style="text-align: center;">
				<button type="submit" class="btn-primary">Login with Facebook</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<div style="margin: 10px 0px;">
				<p style="text-align: center;"><b>OR</b></p><br>
			</div>
			<div class="email-login">
				<form>
					Email: <input type="text" name="username" />
					Password: <input type="password" name="password" /><br><br>
					<button type="submit" class="btn-primary"><a href="/homepage" style="color: white;">Submit</a></button>
			</div>
		</div>
	</div>
</div>