<html>
<head>
	<title>AwkoTaco</title>
</head>
<body class="well">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-xs-12">
			<h1 class="text-center">Challenges</h1>

			<div id="weekly-challenge">
				<h3>Weekly challenge</h2>
				<p>Get a stranger to pinch your nose</p>
				<input type="file" accept="video/*" capture="camera">
			</div>
			<div id="daily-challenges">
				<h3>Daily challenges</h2>
				<ul>
					<li>Say hello to a stranger</li><input type="file" accept="video/*" capture="camera">
					<li>Serenade a stranger with a One Direction song</li><input type="file" accept="video/*" capture="camera">	
					<li>Sniff a stranger's butt</li><input type="file" accept="video/*" capture="camera">
				</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
