<div class="container">
	<div class="row">
		<div class="text-center col-md-6 col-md-offset-3 col-xs-12">
			<h1>Challenges</h1>

			<div id="weekly-challenge">
				<h3>Weekly challenge</h2>
					<p>Get a stranger to pinch your nose</p>
					<button class="btn btn-submit-weekly">Submit</button>
				</div>
				<div id="daily-challenges">
					<h3>Daily challenges</h2>
						<div class="challenge-box">
							<span class="challenge-value">1.</span><span class="challenge-desc">Say hello to a stranger.</span><button class="btn btn-submit">Submit</button>
						</div>
						<ul class="text-left ul-unstyled">
							<li>Say hello to a stranger</li>
							<li>Serenade a stranger with a One Direction song</li><button class="btn btn-submit">Submit</button>
							<li>Sniff a stranger's butt</li><button class="btn btn-submit">Submit</button>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
