// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	margin-bottom: 100px;
	background-color: rgb(213, 204, 191);
}

.top-nav{
	background-color: rgb(229, 94, 74);
}

.nav-home img{
	padding: 10px 0px;
	display: block;
	margin: 0 auto;
}

.nav-btn{
	margin: 10px;
}

.nav-btns{
	width: 263px;
	margin: 0 auto;	
}

.nav-btn:active{
	opacicty:.8;
}	

.ranking-video {
	margin-bottom: 20px;
}

#frnz-mark {
	text-align: center;
}

#fb-login {
	margin: 30px 0px;
}

button {
	border-radius: 5px;
}

#login-container {
	text-align: center;
}

.navbar-center{
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #efefef;
	z-index: 1030;
	padding: 5px 0px;
}

ul{
	list-style-type: none !important;
	margin-left: 0px;
	padding-left: 0px;
}


.topBar{
	color:rgb(250,194,109);
	background: rgb(229,94,74);
	width:100%;
	font-size: 12em;
	text-align:center;
}

#friend-list li {
	border: 1px solid #444;
	margin-bottom: 10px;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}


body{
	background: rgb(213,204,191);
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }


}


.btn-submit{
	float: right;
	margin: 0px;
	border-radius: 0px;
	background-color: rgb(229, 94, 74);
	color: rgb(250, 194, 109);
}
.btn-submit:hover{
	color: rgb(226, 139, 8);
}

.btn-submit-weekly{
	margin: 0px;
	border-radius: 0px;
	background-color: rgb(229, 94, 74);
	color: rgb(250, 194, 109);
}

.btn-submit-weekly:hover{
	color: rgb(226, 139, 8);
}

#weekly-challenge h3{
	color: rgb(229, 94, 74);
}

.weekly-challenge-box{
	background-color: #fff;
	border: 2px solid rgb(229, 94, 74);
}

#daily-challenges h3{
	color: rgb(229, 94, 74);
}

.challenge-box{
	height: 38px;
	background-color: #fff;
	border: 2px solid rgb(229, 94, 74);
	margin-top: 4px;
}

.challenge-value{
	line-height: 38px;
}

.challenge-desc{
	line-height: 38px;
}

.top-bar{
	background: rgb(143,199,180);
	overflow:auto;
}

.logo{
	width:30%;
	float:right;
	background: rgb(143,199,180);
	margin-top:5%;

}

.top-text{
	position:relative;
	width:30%;
	margin-left:5%;
	float:left;
	color:white;
	font-size:24px;
	font-weight:bold;
	background: rgb(143,199,180);
	margin-top:5%;

}

.top-bar .nav-btn{
	float:left;
	border:2px solid;
	border-radius:100px;
	border-color:#ffffff;

}


