// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-btn{
	margin: 10px;	
}

.nav-btns{
	width: 260px;
	margin: 0 auto;	
}

.navbar-center{
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #efefef;
	z-index: 1030;
	padding: 5px 0px;
}

ul {
	list-style-type: none;
}


.video{
	positive:relatve;
	margin-left:auto;
	margin-right:auto;
}

.topBar{
	color:rgb(250,194,109);
	background: rgb(229,94,74);
	width:100%;
	font-size: 12em;
	text-align:center;
}

#friend-list li {
	border: 1px solid #444;
	margin-bottom: 10px;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}

body{
	background: rgb(213,204,191);
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }

  .container{
  	padding-left:0px;
  	padding-right:0px;
  }

}


