// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-size: 18px;
}



.topBar{
	color:rgb(250,194,109);
	background: rgb(229,94,74);
	width:100%;
	
}