<div class="top-nav">
  <a href="homepage" class="nav-home"><%= image_tag "awkotaco_logo.png" %></a>
</div>

<div class="navbar-center" role="navigation">
  <div class="nav-btns">
    <a href="challenges" class="nav-btn"><%= image_tag "icon_nav01.png" %></a>
    <a href="friends" class="nav-btn"><%= image_tag "icon_nav02.png" %></a>
    <a href="rankings" class="nav-btn"><%= image_tag "icon_nav03.png" %></a>
  </div>
</div>